<div class='page-title-container'>
  <h1> <%= @user.username %> </h1>
</div>

<div class='events-container'>
  <h3 class='event-category'>Upcoming Hosted Events</h3>
  <%= render @user.events.upcoming.order(:date), upcoming: true %>
  <h3 class='event-category'>Upcoming Events</h3>
  <%= render @user.commitments.upcoming.order(:date), upcoming: true %>
  <h3 class='event-category'>Past Hosted Events</h3>
  <%= render @user.events.past.order(date: :desc), upcoming: false %>
  <h3 class='event-category'>Past Events</h3>
  <%= render @user.commitments.past.order(date: :desc), upcoming: false %>
</div>

<% if current_user.try(:id) == @user.id %>
  <div id='invitations' class='invitations-container'>
    <h3 class='invitation-category'>Current Invitations</h3>
    <%= render @user.invitations.upcoming.includes(:event).order(:date), upcoming: true %>
    <h3 class='invitation-category'>Past Invitations</h3>
    <%= render @user.invitations.past.includes(:event).order(date: :desc), upcoming: false %>
  </div>
<br>
<%= link_to 'Edit Account', edit_user_registration_path, class: 'end-link' %>
<% end %>