<div class="section">
<div class="container">
<div class="columns is-centered">
<div class="column is-4">

<h2 class="title is-2">New Event</h2>
<%= simple_form_for(@event) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">

<div class="field">
<div class="control">
    <%= f.input :event, wrapper: false, label_html: { class:"label" } %>
</div>
</div>
<div class="field">
<div class="control">    
    <%= f.input :date, wrapper: false, label_html: { class:"label" } %>
</div>
</div>
<div class="field">
<div class="control">    
    <%= f.input :location, wrapper: false, label_html: { class:"label" } %>
</div>
</div>
<div class="field">
<div class="control">    
    <%= f.input :description, wrapper: false, label_html: { class:"label" } %>
</div>
</div>    
  </div>


		<div class="field">
			<div class="control">
		 		<%= f.button :submit, "Create Event", class:"button is-info is-medium" %>
		 	</div>
		</div>

<% end %>

<%= link_to 'Back', events_path %> |
<%= link_to 'Show', @event %> 
</div>
</div>
</div>