
<section class="container">
    <div>
        <table>
                <th>User Name</th>
                <th>Event Name</th>
                <th>Date</th>
                <th>Location</th>
                <th>Description</th>
                <th>Created About</th>

            </tr>
            <% @past_events and @past_events.each do |event| %>
                <div>
                    <tr>
                        <td><%= event.user.username %></td>
                        <td><%= event.event %></td>
                        <td><%= event.date %></td>
                        <td><%= event.location %></td>
                        <td><%= event.description %></td>
                        <td><%= time_ago_in_words(event.created_at) %> </td>                      
                        <% if user_signed_in? %>
                            <td><%= link_to 'Show', event %></td>
                            <td><%= link_to 'Edit', edit_event_path(event) %></td>
                            <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                        <% end %> 
                        </tr>  
                    </div> 
                <% end %>
            </table>      
        </div>
</section>