<div class="text-center">
<h1 class="p-3 border-bottom bg-dark text-center text-white font-one" > Create a new Event </h1>

<div class="border border-warning bg-dark w-25 p-4 mt-5 mx-auto">
<%= form_for(@event) do |f| %>
  <div class="d-flex flex-column justify-content-start align-items center ms-3">
  <h4 class="text-warning font-two"><%= f.label :title, 'Event Title' %></h4>
  <div class="text-secondary font-two mb-3"><%= f.text_field :title %></div>
  </div>
   <div class="d-flex flex-column justify-content-start align-items center ms-3">
  <h4 class="text-warning font-two"><%= f.label :description, 'Description' %></h4>
  <div class="text-secondary font-two mb-3"><%= f.text_field :description %></div>
  </div>
   <div class="d-flex flex-column justify-content-start align-items center ms-3">
  <h4 class="text-warning font-two"><%= f.label :location, 'Location' %></h4>
  <div class="text-secondary font-two mb-3"><%= f.text_field :location %></div>
  </div>
   <div class="d-flex flex-column justify-content-start align-items center ms-3">
  <h4 class="text-warning font-two"><%= f.label :date, 'Date' %></h4>
  <div class="text-secondary font-two mb-3"><%= f.datetime_field :date %></div>
  </div>
  <%= f.submit('Create Event', :class => 'btn btn-warning w-50 mx-auto mt-2 font-two fw-bold text-dark')%>
<% end %>
</div>

</div>