<p id="notice"><%= notice %></p>

<div class="column is-5">
  <p><small>Hosted by</small></p>
  <h4 class="subtitle is-4">
  <%= @event.user.username  %>
  </h4>
</div>

<p>
  <strong>Event:</strong>
  <%= @event.event %>
</p>

<p>
  <strong>Date:</strong>
  <%= @event.date %>
</p>

<p>
  <strong>Location:</strong>
  <%= @event.location %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>


<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
