<div class='event-show'>
  <div class='name-show'><%= @event.event %></div>
  <div class='basic-info-show'>
    <%= @event.date_and_time %> •
    <%= @event.location %> •
    Hosted by <%= @event.user_name %>
  </div>
  <div class='description'><%= @event.description %></div>
  <hr class='event-show-line'>
  <div>
    <div class='list-category'>Confirmed attendee (<%= @event.attendee.count %>):</div>
      <% @event.attendee.order(:username).each do |guest| %>
        <div class='ACCEPTED invitation-list-item'>
          <li><%= link_to guest.username, guest %></li>
          <i class="fas fa-check"></i>
        </div>
      <% end %>
  </div>
  <div>
    <div class='list-category'>All invitation (<%= @event.invitation.count %>):</div>
    <% @event.invitation.includes(@attendee).order(:username).references(:recipient).each do |invitation| %>
      <div class="invitation-list-item <%= invitation.rsvp %>">
        <li><%= link_to invitation.recipient.username, user_path(invitation.recipient_id) %></li>
        <% if invitation.rsvp == 'ACCEPTED' %>
          <i class="fas fa-check"></i>
        <% elsif invitation.rsvp == 'PENDING' %>
          <i class="far fa-clock"></i>
        <% else %>
          <i class="fas fa-times"></i>
        <% end %>
      </div>
    <% end %>
  </div>
  <% if current_user.try(:id) == @event.creator_id %>
    <div>
      <%= link_to 'Edit', edit_event_path(@event) %> |
      <%= link_to 'Update invitation', edit_invitation_path(@event) %> |
      <%= link_to 'Delete Event', event_path(@event), method: :delete, data: { confirm: 'Are you sure?'} %>
    </div>
  <% end %>
</div>

<br>
<%= link_to 'Back', events_path, class: 'end-link' %>