<div class="text-center w-25 mx-auto mt-5">
<% @invitations.each do |a| %>
   <div class=""><%= Event.find(a.event_attended_id).title %></div>
   <div class=""><p class="">About: &nbsp</p><%= Event.find(a.event_attended_id).description %></div>
   <div class=""><p class="" >Where: &nbsp</p><%= Event.find(a.event_attended_id).location %></div>
   <div class=""><p class="" >When: &nbsp</p><%= Event.find(a.event_attended_id).date %></div>
   <% break %>
<%end %>


<h4 class="">People attending to this event:</h4>
<div class="">
<% @invitations.each do |a| %>
   <div class=""><%= User.find(a.event_attended_id).username %></div>
<%end%>
</div>
