<div class="text-center w-25 mx-auto mt-5">
   <div class=""><%= @event.title %></div>
   <div class=""><p class="">About: &nbsp</p><%= @event.description %></div>
   <div class=""><p class="" >Where: &nbsp</p><%= @event.location %></div>
   <div class=""><p class="" >When: &nbsp</p><%= @event.date %></div>


<h4 class="">People attending to this event:</h4>
<div class="">
     <% @attendees.each do |attendee| %>
        <li><%= attendee.username %></li>
      <% end %>
</div>
