
<p>You're almost done! Now it's time to invite some guests!</p>

<%# edit_user_item_path(@user, item) %>
<%= form_with url: event_invitation_path do |f| %>
  
    <%# <%= hidden_field_tag(:attended_event_id, @invitation) %> %>
  <% User.all.each do |user| %>
    <div class='checkbox column'>
      <%= f.check_box_tag "attendee_id[user_ids][]" %>
      <%= label_tag user.username %>
    </div>
  <% end %>
  
  <br>
  <%= submit_tag('Invite Guests!', class: 'important-button') %>
<% end %>


<br>
<%= link_to 'Home Page', events_path, class: 'end-link' %>

      <%# <%= f.check_box("attendee[#{user.id}]") %> %>
      <%# <%= f.check_box_tag "attendee_id[user_ids][]" %> %>
     
   