
<div>
<%= form_for (:invitations)  do |f| %>
  <%= f.label :attendee_id %>
  <%= f.collection_select :attendee_id, User.order(:id),:id,:username, include_blank: true %>
  <%= f.label :event_attended_id %>
  <%= f.collection_select :event_attended_id, Event.order(:id),:id,:title, include_blank: true %>
   <%= f.submit %> 

<% end %>
</div>