
<p>You're almost done! Now it's time to invite some guests!</p>


<%= form_with(url: event_invitations_path, local: true) do |f| %>
  <% User.all.each do |user| %>

    <div class='checkbox'>

      <%= f.check_box("recipient[#{user.id}]") %>

      <%= user.username %>

    </div>
  <% end %>
  
  <br>
  <%= submit_tag('Invite Guests!', class: 'important-button') %>
<% end %>


<br>
<%= link_to 'Home Page', events_path, class: 'end-link' %>